################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FlokiConCharity/FileContentIndex/a4393a9b-fd7b-4190-b15a-de61ec88f3cf.vsidx
/.vs/FlokiConCharity/FileContentIndex/8b723770-e469-4713-8cb9-08e57a2ab7fb.vsidx
/.vs/FlokiConCharity/FileContentIndex/5976abee-f557-4434-9fae-f86302438db3.vsidx
/.vs/FlokiConCharity/FileContentIndex/12e906a7-790b-4c08-a733-e1a6e196c6ef.vsidx
/.vs/FlokiConCharity/FileContentIndex/b8fb53c2-0cea-4931-831a-4c72b752ec9e.vsidx
/.vs/FlokiConCharity/FileContentIndex/44cdc26d-1445-4909-85d4-a29062d43fa5.vsidx
/.vs/FlokiConCharity/FileContentIndex/4578b751-89ac-4f05-8ab3-4d27c9166c1a.vsidx
/.vs/FlokiConCharity/FileContentIndex/8b936bb1-34d4-4863-9b97-3dc4d3cd960d.vsidx
/.vs/FlokiConCharity/FileContentIndex/07ad0cfb-52f7-41ba-885d-7cef9cb6a2b8.vsidx
/.vs/FlokiConCharity/FileContentIndex/6805888c-5df1-4ec0-bf4e-5a53bc3ea78e.vsidx
/.vs/FlokiConCharity/FileContentIndex

/.vs/slnx.sqlite
back/database.db
database.db
