.pagin {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.wrapper {
    min-height: 100vh;
}

.page-item a{
    color: #313131 !important;
}

.page-item a:focus,
.page-item a:active {
    box-shadow:none !important;
    outline:0px !important;
}