form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
h2 {
    text-align: center;
    color: #333;
}
.input-group {
    margin-bottom: 15px;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #5c67f2;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #5058e5;
}

.reg_form {
    width: 60%;
    margin: 0 auto;
    margin-top: 4em;
    margin-bottom: 4em;
}