.advert {
    width: 600px;
    padding: 1.5em;
    border: 1px solid #ccc;
    margin: 0 auto;
    margin-top: 2.5em;
    margin-bottom: 2em;
}

.advert h1 {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.priority {
    margin-bottom: 0.4em;
    margin-top: 1.6em;
}

.priority span {
    font-size: 1.1em;
}

form .title {
    margin-bottom: 1.2em;
    font-size: 1.3em;
    width: 100%;
    margin-left: 0 !important;
}

form input {
    font-size: 1em !important;
}

form textarea {
    font-size: 1em !important;
    margin-bottom: 1.2em;
    min-height: 150px !important;
}

.submit {
    margin-top: 1.2em;
}

.select_categ {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.3em;
    margin-bottom: 1em;
    width: 40%;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}