.custom-navbar {
    background-color: #ffffff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.custom-navbar {
    display: grid;
    grid-template-columns: auto auto 1fr; /* Three columns, first two are auto width, last one takes the remaining space */
    align-items: center; /* Align items vertically center */
    padding: 10px;
    background-color: #f3f3f3;
  }
  
  .logo-container,
  .crumbs-container,
  .title-profile-container {
    display: flex; /* Use flexbox for aligning items */
    align-items: center; /* Align items vertically center */
  }
  
  .logo {
    font-size: 1.5rem;
  }
  
  .crumbs {
    display: flex; /* Use flexbox for horizontal alignment of crumbs */
  }
  
  .title {
    font-size: 1.2rem;
  }
  
  .profile img {
    width: 30px;
    height: auto;
    border-radius: 50%;
    margin-left: 10px;
  }
  

.logo-container,
.crumbs-container,
.title-profile-container {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px; /* Відступ між логотипом і наступним контейнером */
}

.crumbs {
    display: flex;
    align-items: center; /* Центрування хлібних крихт */
    margin-right: 20px; /* Відступ між хлібними крихтами і наступним контейнером */
}

.crumbs span {
    margin-right: 10px; /* Відступ між хлібними крихтами */
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
}

.title-profile-container {
    display: flex;
    align-items: center;
}

.title {
    font-size: 20px;
    margin-right: 20px; /* Відступ між заголовком і профілем */
}

.profile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #333; /* Змінити колір контуру профілю */
    padding: 3px;
}
